**/*

!.gitignore
!starship.toml
!xdg-desktop-portal/**
!xdg-desktop-portal/
!waybar/**
!waybar/
!rofi/**
!rofi/
!qt*ct/**
!qt*ct/
!mako/**
!mako/
!Kvantum/**
!Kvantum/
!kitty/**
!kitty/
!hypr/**
!hypr/
!gtk-3.0/**
!gtk-3.0/
!gtk-4.0/**
!gtk-4.0/
!fuzzel/**
!fuzzel/
!btop/**
!btop/
!broot/**
!broot/

!scripts/*
!scripts/